@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

body {
    font-family: Roboto;
    padding: 0;
    user-select: none;
    margin: 0;
}

.wrapper {
    height: 929px;
    transition: .5s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px 0;
}

.settings {
    width: 50px;
    height: 50px;
    margin-right: 80px;
    cursor: pointer;
}

.logo {
    margin: 0px 0px 0px 50px;
    background-color: #fff;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 15px;
    border: 2px solid #f9f9f9;
    cursor: pointer;
}

.logo > span {
    font-size: 32px;
    font-weight: 800;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.counter {
    font-size: 33px;
    text-align: center;
    padding: 28px 50px;
    font-weight: 700;
    letter-spacing: 7px;
    color: #fff;
    text-shadow: 
    -0   -3px 0   #000000,
     0   -3px 0   #000000,
    -0    3px 0   #000000,
     0    3px 0   #000000,
    -3px -0   0   #000000,
     3px -0   0   #000000,
    -3px  0   0   #000000,
     3px  0   0   #000000,
    -1px -3px 0   #000000,
     1px -3px 0   #000000,
    -1px  3px 0   #000000,
     1px  3px 0   #000000,
    -3px -1px 0   #000000,
     3px -1px 0   #000000,
    -3px  1px 0   #000000,
     3px  1px 0   #000000,
    -3px -3px 0   #000000,
     3px -3px 0   #000000,
    -3px  3px 0   #000000,
     3px  3px 0   #000000,
    -3px -3px 0   #000000,
     3px -3px 0   #000000,
    -3px  3px 0   #000000,
     3px  3px 0   #000000;
}

.block_counter {
    width: 496px;
    background-color: #ccc;
    border-radius: 15px;
    display: inline-block;
    border: 3px solid rgb(229, 229, 229);
    box-shadow: #fff 0px 0px 10px;
}

.click_counter {
    margin-bottom: 60px;
    /* visibility: hidden; */
    display: inline-block;
}

.level {
    margin-bottom: 60px;
    /* visibility: hidden; */
    display: inline-block;
}

.block_level {
    text-align: center;
    padding: 10px 30px;
    width: 510px;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ccc;
    border-radius: 15px;
    display: inline-block;
    border: 3px solid rgb(229, 229, 229);
    box-shadow: #fff 0px 0px 10px;
}

.level_counter {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 7px;
    color: #fff;
    text-shadow: 
    -0   -3px 0   #000000,
     0   -3px 0   #000000,
    -0    3px 0   #000000,
     0    3px 0   #000000,
    -3px -0   0   #000000,
     3px -0   0   #000000,
    -3px  0   0   #000000,
     3px  0   0   #000000,
    -1px -3px 0   #000000,
     1px -3px 0   #000000,
    -1px  3px 0   #000000,
     1px  3px 0   #000000,
    -3px -1px 0   #000000,
     3px -1px 0   #000000,
    -3px  1px 0   #000000,
     3px  1px 0   #000000,
    -3px -3px 0   #000000,
     3px -3px 0   #000000,
    -3px  3px 0   #000000,
     3px  3px 0   #000000,
    -3px -3px 0   #000000,
     3px -3px 0   #000000,
    -3px  3px 0   #000000,
     3px  3px 0   #000000;
}

.level-bar {
    width: 450px;
    
}

.counters {
    display: flex;
    justify-content: space-between;
}

.info {
    border-radius: 15px;
    height: 600px;
    width: 580px;
    float: right;
    margin-right: 15px;
    border: 3px solid #ccc;
    overflow: hidden;
}

.info-head {
    background-color: rgb(156, 156, 156);
    height: 60px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 10;
}

.info-head > span {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 8px;
    text-shadow: 
    -0   -2px 0   #000000,
     0   -2px 0   #000000,
    -0    2px 0   #000000,
     0    2px 0   #000000,
    -2px -0   0   #000000,
     2px -0   0   #000000,
    -2px  0   0   #000000,
     2px  0   0   #000000,
    -1px -2px 0   #000000,
     1px -2px 0   #000000,
    -1px  2px 0   #000000,
     1px  2px 0   #000000,
    -2px -1px 0   #000000,
     2px -1px 0   #000000,
    -2px  1px 0   #000000,
     2px  1px 0   #000000,
    -2px -2px 0   #000000,
     2px -2px 0   #000000,
    -2px  2px 0   #000000,
     2px  2px 0   #000000,
    -2px -2px 0   #000000,
     2px -2px 0   #000000,
    -2px  2px 0   #000000,
     2px  2px 0   #000000;
}

.phone {
    transition: .5s ease;
    cursor: pointer;
    margin-left: 1.1em;
    display: inline-block;
}

.container-info {
    max-width: 464px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46px;
}

.info_table {
    border: #000 6px solid;
    margin-bottom: 20px;
    margin-right: 70px;
}

tr, td {
    border: #000 3px solid;
    text-align: center;
    font-size: 40px;
}

.buff {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-shadow: 
    -0   -2px 0   #fff,
     0   -2px 0   #fff,
    -0    2px 0   #fff,
     0    2px 0   #fff,
    -2px -0   0   #fff,
     2px -0   0   #fff,
    -2px  0   0   #fff,
     2px  0   0   #fff;
    /* background-color: rgb(113, 200, 96); */
    background-image: url('../img/button.png');
    border-radius: 5px;
    padding: 10px 25px;
    border: 1px solid #ccc;
    margin: 30px 0 10px 0px;
    display: inline-block;
    animation: 1s forwards;
    animation-name: anio;
    opacity: 0;
    position: relative;
    z-index: 3;
}

.bonus {
    font-size: 2.85vh;
    font-weight: 700;
    background-image: url('../img/bonus.png');
    border-radius: 5px;
    padding: 10px 25px;
    border: 1px solid #d6e9c6;
    margin: 20px 0;
    display: inline-block;
    animation: 1s forwards;
    animation-name: anio;
    opacity: 0;
    position: relative;
    z-index: 3;
}

.bonus {
    color: #000;
    text-shadow: 
    -0   -1px 0   #ffffff,
     0   -1px 0   #ffffff,
    -0    1px 0   #ffffff,
     0    1px 0   #ffffff,
    -1px -0   0   #ffffff,
     1px -0   0   #ffffff,
    -1px  0   0   #ffffff,
     1px  0   0   #ffffff,
    -1px -1px 0   #ffffff,
     1px -1px 0   #ffffff,
    -1px  1px 0   #ffffff,
     1px  1px 0   #ffffff,
    -1px -1px 0   #ffffff,
     1px -1px 0   #ffffff,
    -1px  1px 0   #ffffff,
     1px  1px 0   #ffffff,
    -1px -1px 0   #ffffff,
     1px -1px 0   #ffffff,
    -1px  1px 0   #ffffff,
     1px  1px 0   #ffffff,
    -1px -1px 0   #ffffff,
    -1px  1px 0   #ffffff,
     1px  1px 0   #ffffff;
     
}

@keyframes anio {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes anic {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

button {
    display: block;
}

.phone_anim {
    transform: scale(1.1);
    transition: .5s ease;
}

.bonus_block {
    display: inline-block;
    border: 2px solid #000;
}

.upgrades {
    background-image: url('../img/info.png');
    text-align: center;
    height: 540px;
    z-index: -1;
}

.popup__bg {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none; 
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
    border-radius: 15px;
}

.popup.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.header-popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-popup > span {
    color: gray;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.music {
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
    font-size: 24px;
}

audio {
    display: inline-block;
}

.music {
    display: flex;
    align-items: center;
}

.music > span {
    margin-right: 20px;
}

.music-block {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    cursor: pointer;
}

.pytorka {
    top: -390px;
    animation: slidedown 15s forwards;
}

@keyframes slidedown {
    from {
        top: -390px;
    }

    to {
        top: 590px;
    }
}