.default-theme {
    background-image: url('../img/theme/field.png');
    background-size: cover;
    transition: .5s ease;
}

.woods-theme {
    background-image: url('../img/theme/woods.png');
    background-size: cover;
    transition: .5s ease;
}

.mountains-theme {
    background-image: url('../img/theme/mountains.jpg');
    background-size: cover;
    transition: .5s ease;
}

.taiga-theme {
    background-image: url('../img/theme/taiga.jpg');
    background-size: cover;
    transition: .5s ease;
}

.oak-woods {
    background-image: url('../img/theme/oak_woods.jpg');
    background-size: cover;
    transition: .5s ease;
}

.dark-woods {
    background-image: url('../img/theme/dark_woods.jpg');
    background-size: cover;
    transition: .5s ease;
}

.scary-woods {
    background-image: url('../img/theme/scary_woods.jpg');
    background-size: cover;
    transition: .5s ease;
}

.green-woods {
    background-image: url('../img/theme/green_woods.jpg');
    background-size: cover;
    transition: .5s ease;
}